# OpenFOAM generated time directories
[0-9]*
processor*
postProcessing/

# Logs
log.*
*.log

# ParaView / visualization
*.foam
*.vtk
*.vtp
*.vtu
*.pvsm
*.btr
# Mesh/generated large files
constant/polyMesh/
constant/triSurface/*.eMesh
constant/triSurface/*.extendedFeatureEdgeMesh
constant/polyMesh/
constant/extendedFeatureEdgeMesh/
sweep_*/constant/polyMesh/
sweep_*/constant/extendedFeatureEdgeMesh/
sweep_*/[0-9]*/
sweep_*/[0-9].[0-9]*/

# Temporary files
*.gz
*.tmp
*.bak
*~
*.obj
*.btrsweep_15/
!0/
!sweep_15/0/
